<section class="pb-20">
<h2 class="title-dashboard-section text-justify">اضافة خدمة</h2>

<form #userForm="ngForm" (ngSubmit)= "addService(userForm.value); userForm.reset()" class="row no-gutters" action="">
        <div class="col-md-4">
           <img class="prview-img img-fluid" [src]="imgUrl">

            <div class="upload-btn-wrapper">
                <button class="btn">اضافة صورة
                <input (change)="imageUpload($event)" #image="ngModel" required ngModel
                class="form-control" name="image" id="image"
                type="file"/>
                </button>
            </div>       
        </div>
        <div class="w-100"></div>

        <div class="col-md-4 form-group">
            <label class="text-justify w-100">اسم الخدمة</label>
            <input id="name-input"
                class="form-control" required #name="ngModel" 
                minlength="3" ngModel type="text" name="title" 
                [ngClass]="{ 'is-invalid': name.invalid && name.touched , 'is-valid': !name.invalid && name.touched}"
            >
       
        <div *ngIf="!name.valid && name.touched" class="" >
            <div class="alert alert-danger text-right" *ngIf="name.errors.required">من فضلك أدخل اسم الخدمة  </div>
            <div class="alert alert-danger text-right" *ngIf="name.errors.minLength">من فضلك أدخل اسم الخدمة على الأقل ثلاثة أحرف </div>
          </div>
        </div>

        <div class="w-100"></div>

    <div class="form-group d-flex justfy-content-start">
      <input [disabled] ="userForm.invalid" class="btn btn-main ml-10 mb-30" type="submit" value="اضافة خدمة" />
    </div>
</form>

<h2 class="title-dashboard-section mb-30 text-center"> خدامتنا</h2>

<div class="row no-gutters">
    <div *ngFor="let service of services" class="card col-12 col-md-4">
       <h5 class="services-name text-center">{{service.name}}}</h5>
      
       <div class="img-wrapper">
           <img [src]="'http://fonty.ieeeshasb.org/public/wslider/' + service.img " class="img-fluid card-img-top" alt="...">
       </div>
       
       <div class="card-body">
            <div class="branches-control clearfix">
                <button class="btn btn-primary float-right">تعديل</button>
                <button (click) ="deleteAlert(service.id)" class="btn btn-danger float-right">حذف</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-danger float-right mt-20 " routerLink="/dashboard/site-settings"> الرجوع مع الحفظ</button>
<div class="clearfix"></div>
</section>