@import "variables";
.custom-file-label::after {
    content: " اضافة صورة";
}

.card{
    border: 1px solid rgba($color: #000000, $alpha: .3);

    .services-name{
        margin: 20px auto;
        font-size: 1.4rem;
        font-weight: 600;
        opacity: .8;
    }

    .card-body{
        padding-left: 0;
        padding-right: 0;

        .branches-control{
            margin-right: 30px;
        }
        .btn{
            margin-right: 8px;
            opacity: 1;
            border: 1px solid rgba($color: #000000, $alpha: .6);

            &:hover{
                border: none;
            }
        }
    }    
}

