

<div *ngIf="ordersDetails$ | async as ordersDetails" class="nav-wrapper row">
  <div class="col text-center  nav-item">
    <a class="d-block" routerLink="/dashboard/control-panel/received-orders">
      <span>{{ordersDetails.curent}}</span>
      <p>الطلبات المستلمة</p>
    </a>
  </div>

  <div class="col text-center  nav-item">
    <a class="d-block" routerLink="/dashboard/control-panel/all-orders">
      <span>{{ordersDetails.curent + ordersDetails.in_progress + ordersDetails.closed + ordersDetails.done}}</span>
      <p>مجموع الطلبات</p>
    </a>
  </div>

  <div class="col text-center  nav-item">
    <a class="d-block" routerLink="/dashboard/control-panel/finished-orders">
      <span>{{ ordersDetails.done}}</span>
      <p>تم تسليمه</p>
    </a>
  </div>

  <div class="col text-center  nav-item">
    <a class="d-block" routerLink="/dashboard/control-panel/preparing-stage-orders">
      <span>{{ordersDetails.in_progress}}</span>
      <p>مرحلة التجهيز</p>
    </a>
  </div>

  <div class="col text-center  nav-item">
    <a class="d-block" routerLink="/dashboard/control-panel/cancelled-orders">
      <span>{{ordersDetails.closed }}</span>
      <p> الطلبات الملغاه</p>
    </a>
  </div>
</div>

<div class="row chart-wrapper">
  <div class="col chart">
    <chart></chart>
  </div>

  <div class="col chart">
    <chart></chart>
  </div>
</div>

<div class="control-wrapper row">
  <div class="col">
    <control-panel-icon [type] = "'آخر الطلبات'"></control-panel-icon>
  </div>



  <div class="col item">
    <control-panel-icon [type] = "'آخر التسجيلات'" ></control-panel-icon>
  </div>
</div>
