<div *ngIf="ordersDetails$ | async as ordersDetails" class="nav-wrapper row">
  <div class="col text-center  nav-item">
      <span>{{ordersDetails.curent}}</span>
      <p>الطلبات المستلمة</p>
  </div>

  <div class="col text-center  nav-item">
      <span>{{ordersDetails.curent + ordersDetails.in_progress + ordersDetails.closed + ordersDetails.done}}</span>
      <p>مجموع الطلبات</p>
  </div>

  <div class="col text-center  nav-item">
      <span>{{ ordersDetails.done}}</span>
      <p>تم تسليمه</p>
  </div>

  <div class="col text-center  nav-item">
      <span>{{ordersDetails.in_progress}}</span>
      <p>مرحلة التجهيز</p>
  </div>

  <div class="col text-center  nav-item">
      <span>{{ordersDetails.closed }}</span>
      <p> الطلبات الملغاه</p>
  </div>
</div>

<div class="row chart-wrapper">
  <div class="col chart">
    <app-chart-wrapper></app-chart-wrapper>
  </div>
</div>

<div class="control-wrapper row">
  <div class="col">
    <div class="item text-center">
      <p class="title"> آخر الطلبات</p>
      <div *ngFor="let order of allOrders; index as i" class="row no-gutters icon-wrapper">
        <div class="icon col-md-1">
          <p class="number">{{i +1}} </p>
        </div>
        <div class="icon col-md-4">
          <p>{{order.order_user.name}} </p>
        </div>
  
        <div class="icon col-md-4">
          <p>{{order.total_price}} </p>
        </div>
  
        <div class="icon col-md date">
          <p> {{order.created_at | date : 'shortTime'}} </p>
        </div>
      </div>
    </div>  
  </div>

  <div class="col item">
    <div class="item text-center">
      <p class="title"> آخر التسجيلات</p>
      <div *ngFor="let user of users; index as i" class="row no-gutters icon-wrapper">
        <div class="icon col-md-1">
          <p class="number"> {{i+1}} </p>
        </div>
        <div class="icon col-md-4">
          <p> {{user.users.name}} </p>
        </div>
  
        <div class="icon col-md-4">
          <p> {{user.users.email}} </p>
        </div>
  
        <div class="icon col-md date">
          <p> {{user.users.created_at | date : 'short'}} </p>
        </div>
      </div>
    </div>
  </div>
</div>