@import "variables";
@import 'responsive';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

h1.about-title {
    color: $mainColor;
    border: 1px solid  $mainColor;
    transition: .5s ;
    font-size: 28px;
    font-weight: 900;
    width: 225px;
    letter-spacing: 0.040em;
    padding: 7px 16px;
    margin: 0  auto 15px;
}

h1.about-title:hover{
    background-color: $mainColor;
    color: white;
    cursor: pointer;
}

.img-wrapper img {
    min-height: 150px;
    height: 100%;
    max-height: 600px;
}

.fa-2x{
    padding-top: 5px;
}

p.desc-text{
    font-size: 22px;
    line-height: 35px;
    // text-align: justify;
}
  
@media(max-width: 576px){
    .img-section{
        margin: 0;
        padding: 0;
    }
}