  <div class="text-content container section-wrapper">
    <div *ngIf="about$ | async as about" class="row">
        <div class="col-md-6">
            <h1 *ngIf="lang === '1'" class="mb-30 about-title text-center"> من نحن </h1>
            <h1 *ngIf="lang === '2'" class="mb-30 about-title text-center"> About Us </h1>
            <!-- <i class="fab fa-cutlery mb-sm fa-2x d-block"></i> -->
            
            <p class="desc-text" [ngClass]="{'text-right' : lang ==='1'}">
              {{about.body}}
            </p>
        </div>
        <div class="col-md-6">
          <div class="img-wrapper">
            <img class="img-fluid" src="assets/images/about-img.jpeg" alt="" />
          </div>
        </div>
    </div>
</div>