  <!-- Satrt About Us Section-->
  <section class="about ptx-170 pb-50 undefined">
    <div class="container">
      <div class="title-section text-center mb-40">
        <h2>من نحن</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about-content text-justify">
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك
              أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.ا كنت تحتاج
              إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي
              أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن
              يطلع على صورة حقيقية لتصميم الموقع.</p>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك
              أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.ا كنت تحتاج
              إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي
              أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن
              يطلع على صورة حقيقية لتصميم الموقع.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="aout-img"><img class="img-fluid" src="assets/images/about-img.jpeg" alt="" /></div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section-->
