  <div class="text-content container section-wrapper">
    <div *ngIf="about" class="row">
        <div class="col-md-7">
            <h1 *ngIf="lang === '1'" class="mb-30 about-title text-center"> من نحن </h1>
            <h1 *ngIf="lang === '2'" class="mb-30 about-title text-center"> About Us </h1>
            <i class="fas fa-cutlery mb-sm fa-2x d-block"></i>
            
            <p *ngIf="less" class="desc-text" [ngClass]="{'text-right' : lang ==='1'}">
              {{aboutLess}}

              <button *ngIf="lang === '1'" (click) ="less = !less" class="btn btn-primary">قراءة المزيد</button>
              <button *ngIf="lang === '2'" (click) ="less = !less" class="btn btn-primary"> Read More </button>
            </p>

            
            <p *ngIf="!less" class="desc-text" [ngClass]="{'text-right' : lang ==='1'}">
              {{about.body}}

              <button  *ngIf="lang === '1'" (click) ="less = !less" class="btn btn-primary">قراءة أقل</button>
              <button *ngIf="lang === '2'" (click) ="less = !less" class="btn btn-primary">Read Less</button>
            </p>

        </div>
        <div class="col-md-5">
          <div class="img-wrapper">
            <img class="img-fluid" src="assets/images/about-img.jpeg" alt="" />
          </div>
        </div>
    </div>
</div>