<a [routerLink] ="['/dashboard/add-product', catId] " class="d-block text-center item-setting-global-small"> إضافة منتج </a>

<section class="view-porducts">
  <div class="search">
    <form action="">
      <input type="search" name="" id="" placeholder="بحث">
      <button class="btn-search">  بحث </button>
    </form>
  </div>

<table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>الصورة</th>
        <th>الاسم</th>
        <th>المكونات</th>
        <th>السعر</th>
        <th>حذف</th>
        <th>تعديل</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products" class="item-wrapper">
        <td>
          <div class="product-img" style="background-image: url('assets/images/25.jpg');">
          </div>
        </td>
        <td>طبق كبسة سعودى</td>
        <td>طماطم + لحم</td>
        <td>20</td>
        <td>
          <a >
            <i class="far fa-trash-alt"></i>
          </a>
        </td>
        <td>
          <a [routerLink]="['/dashboard/edit-product/', catId]">
            <i class="fas fa-cog"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>


