<section class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="footer-logo"><img src="assets/images/logo.png" /></div>
      </div>

      <div class="col row">
        <div class="col-sm-3 col-xs-12">
          <div class="single_widget">
            <h4 class="footer_title">{{items[0]}}</h4>
            <div class="separator"></div>
            <ul>
              <li *ngFor="let service of services$ | async"> <p> {{service.name}} </p></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12">
          <div class="single_widget">
            <h4 class="footer_title">{{items[1]}}</h4>
            <div class="separator"></div>
            <ul>
              <li *ngFor="let branch of branches$ | async"><p> {{branch.name}}</p> </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12">
          <div class="single_widget">
            <h4 class="footer_title">{{items[2]}}</h4>
            <div class="separator"></div>
            <ul *ngIf="(contacts$ | async) as contacts">
              <li>
                <p class="contact">
                  <i class="fa fa-envelope">
                  </i> {{contacts.email}} </p>
              </li>

              <li>
                <p class="contact"><i class="fa fa-phone">
                  </i> {{contacts.phone}}</p>
              </li>

              <li>
                <p class="contact">
                  <i class="fa fa-map-marker"></i>
                  {{contacts.address}}
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-2 col-xs-12">
          <div class="single_widget">
            <h4 class="footer_title">{{items[3]}}</h4>
            <div class="separator"></div>
            <ul>
              <li>
                <p class="contact">
                  <a (click)="setLang('1')">العربية </a>  
                </p>
              </li>

              <li>
                <p class="contact"> <a (click)="setLang('2')"> الانجليزية </a> </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<footer id="footer" class="footer">
  <div class="container">
    <div class="main_footer">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="copyright_text">
            <p>تصميم وبرمجة شركة <a target="_blank" href="https://www.clicktopass.com/">Clicktopass</a>2020. جميع الحقوق
              محفوظة</p>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div [ngClass]="{'text-left': arabic}" class="footer_socail">
            <a target="_blank" href="#"><i class="fab fa-facebook"></i></a>

            <a target="_blank" href="https://instagram.com/fonte4me?igshid=nfjaq41bsapm">
              <i class="fab fa-instagram"></i>
            </a>

            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>

            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>

            <a target="_blank" href="#"><i class="fa fa-rss"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>