@import 'variables';

.arabic-wrapper * {
    text-align: right !important;
}

li{
    margin: initial;
}
.footer-wrapper{
    margin-top: 60px;
    padding: 35px 0 0;
    background: #f1eee6;
    color:#223d61;
    padding: 55px 15px 80px 15px; 
    overflow: hidden;
}

.separator {
    height: 2px;
    width: 30px;
    margin:10px 0px 20px;
    background: #5e9a28;
}

li {
    display: block;
    padding: 3px 0 3px;


    p{
        display: inline-block;
        font-size: 1.9rem;    
        transition: 0.3s linear;
        span{
            margin:0 7px;
        }
            
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            color: $mainColor;
    
        }
    }

    p{
        

        a{   
            font-size: 1.9rem;  
            font-weight: bold;
            transition: all .5s ;
        }
    }
}
.footer_title_left{
    margin-bottom:70px;
}

.footer_title{
    // text-align: right;
    font-size: 1.5rem
}

.footer_logo{
    margin-bottom: 20px;
}

.footer-wrapper p.footer_title{
    margin-bottom:20px;
    font-size:0.8125rem;
    color:#f6f7fa;
}

.footer-wrapper p{
    color:#797979;
    font-size:.9rem;
    line-height: 1.7rem;
    margin-bottom: 0;
}

.single_widget{
    margin-bottom: 30px;
}

.single_widget li.single_latest_news{
    margin-bottom: 20px;
}
.single_widget li.single_latest_news p{
    line-height: 1.125rem;
    margin-bottom:5px;
}
.single_widget li.single_latest_news p.latest_date{
    color:#223d61;
}

.single_widget li{
    margin-bottom: 3px;
}
.single_widget li a{
    color: #223d61;
    font-size: 0.8125rem;
    padding-bottom: 2px;
    display: inline-block;
}
.single_widget li a i{
    padding-left: 5px;
}
.single_widget a.weblink{
    font-size:0.875rem;
    color:#223d61;
}

.footer_gellary img{
    margin-left: 10px;
    margin-bottom: 10px;
}

/*footer section*/
.footer{
    background: #f1eee6;
}

.main_footer{
    border-top:1px solid #ddd;
}
.copyright_text p{
    color:#aaa79e;
    font-size:0.8125rem;
    line-height: 25px;
    padding:40px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#5e9a28;
}

.footer_socail{
    padding:40px; 
    text-align: right;
}
.footer_socail a i{
    font-size:0.8125rem;
    color:#aaa79e;
    padding: 0px 10px;
}

@media(max-width:576){
    .copyright_text p {
        padding: 40px 0;
        margin: 0
    }
}

