  <!-- Start Footer Section-->
  <footer class="main-footer pt-100 text-justify">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="footer-logo"><img src="assets/images/logo.png" /></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="footer-services mb-30">
            <h4>خدماتنا</h4>
            <ul class="list-unstyled">
              <li><a href="#!">خدمة 1</a></li>
              <li><a href="#!">خدمة 2</a></li>
              <li><a href="#!">خدمة 3</a></li>
              <li><a href="#!">خدمة 4</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="footer-branche mb-30">
            <h4>فروعنا</h4>
            <ul class="list-unstyled">
              <li><a href="branches-details.html">فرع 1</a></li>
              <li><a href="branches-details.html">فرع 2</a></li>
              <li><a href="branches-details.html">فرع 3</a></li>
              <li><a href="branches-details.html">فرع 4</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="footer-info mb-30">
            <h4>معلومات الاتصال</h4>
            <ul class="list-unstyled">
              <li class="d-flex">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                <p> <a href="#!">Lorem ipsum dolor sit amet.</a></p>
              </li>
              <li class="d-flex">
                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                <p>123456789</p>
              </li>
              <li class="d-flex">
                <div class="icon"><i class="far fa-envelope"></i></div>
                <p> <a href="#!">info@example.com</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright mt-50 ptb-20">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <p>تصميم و برمجة شركة <a href="http://clicktopass.com/" target="_blank">Clicktopass</a></p>
          </div>
          <div class="col-12 col-md-6">
            <p>جميع الحقوق محفوظة 2020 لشركة فونتى </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Section-->
