<h2 class="title-dashboard-section text-justify mt-20">تعديل عضو</h2>

<div class="add-user-form ">
  <form #userForm="ngForm" (ngSubmit)="submit(userForm.value); userForm.reset();">
    <div class="form-group">
      <label for="name" class="text-justify w-100">الاسم</label>
      <input [(ngModel)]="userFormData.name" #userName="ngModel" required minlength="5"
      [ngClass]="{ 'is-invalid': userName.invalid && userName.touched , 'is-valid': !userName.invalid && userName.touched}"
      class="form-control" type="text" name="name" id="name">

      <div *ngIf="!userName.valid && userName.touched" class="" >
        <div class="alert alert-danger text-right" *ngIf="userName.errors.required">من فضلك أدخل الاسم </div>
        <div class="alert alert-danger text-right" *ngIf="userName.errors.minlength">من فضلك أدخل اسم أكثر من خمسة أحرف </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="text-justify w-100">البريد الالكترونى</label>
      <input [(ngModel)]="userFormData.email" required email #email ="ngModel"
      [ngClass]="{ 'is-invalid': email.invalid && email.touched , 'is-valid': !email.invalid && email.touched}"
      class="form-control" type="text" name="email" id="email" >

      <div *ngIf="!email.valid && email.touched" class="" >
        <div class="alert alert-danger text-right" *ngIf="email.errors.required">من فضلك أدخل الاسم </div>
        <div class="alert alert-danger text-right" *ngIf="email.errors.email">من فضلك أدخل الايميل بالطريفة الصحيحة</div>
      </div>
    </div>
      
    <div class="form-group">
      <label for="phone" class="text-justify w-100">رقم الجوال</label>
      <input phone [(ngModel)]="userFormData.phone" required #password ="ngModel" #phone="ngModel"
      [ngClass]="{ 'is-invalid': phone.invalid && phone.touched, 'is-valid': !phone.invalid && phone.touched}"
      class="form-control" type="number" name="phone" id="phone" pattern="[0-9 ]{7,}">
      
      <div *ngIf="!phone.valid && phone.touched" class="" >
        <div class="alert alert-danger text-right" *ngIf="phone.errors.required"> رقم الهاتف مطلوب </div>
        <div class="alert alert-danger text-right" *ngIf="phone.errors.pattern"> من فضلك أدخل الهاتف بطريقة صحيحة </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="password" class="text-justify w-100">كلمة المرور</label>
      <input [(ngModel)]="userFormData.password" required minlength="6" #password="ngModel"
      [ngClass]="{ 'is-invalid': password.invalid && password.touched , 'is-valid': !password.invalid && password.touched}"
      class="form-control" type="password" name="password" id="password">

      <div *ngIf="!password.valid && password.touched" class="" >
        <div class="alert alert-danger text-right" *ngIf="password.errors.required"> من فضلك أدخل الرقم السري </div>
        <div class="alert alert-danger text-right" *ngIf="password.errors.minlength"> الرقم السري يجب أن يكون أكثر من 6 أحرف </div>
      </div>
    </div>

    <button class="float-right btn btn-primary ml-10" type="submit" [disabled]="userForm.invalid"> تعديل </button>
  </form>
  <button class="float-right btn btn-danger" routerLink="../"> رجوع </button>
</div>