<div class="setting-wrapper row no-gutters">
  <a routerLink ="add-product" class="ml-auto d-block text-center item-setting-global-small"> إضافة منتج </a>
    
    <mat-menu style="margin-top: 30px;" #catMenu>
      <button  (click) ="allCategories()"
      class="cat-item cat-main-item" mat-menu-item>كل الأقسام</button>

      <button *ngFor ="let cat of categories$ | async" #btn (click) ="filteredCategory(cat.id, $event.target.innerText)"
      mat-menu-item class="cat-item" >{{cat.name}}</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="catMenu">
      {{selectedCategory}}
      <i class="fa fa-angle-down"></i>
    </button>
</div>
  
<section class="view-porducts">
  <div class="search">
    <form action="">
    <input type="search" (keyup)="applyFilter($event.target.value)" matInput placeholder="بحث">
      <button class="btn-search">  بحث </button>
    </form>
  </div>
<table mat-table [dataSource] ="filteredProducts" class="table mat-elevation-z8 text-center">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> الصورة </th>
    <td mat-cell *matCellDef="let element"> 
      <img class="product-img img-fluid" [src]="'http://fonty.ieeeshasb.org/public/items/' + element.img ">
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> الاسم </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef> المكونات </th>
    <td mat-cell *matCellDef="let element"> {{element.body}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> السعر </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="catogery_id">
    <th mat-header-cell *matHeaderCellDef> القسم </th>
    <td mat-cell *matCellDef="let element"> {{element.catogery_id}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> تعديل </th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/dashboard/products/edit-product/', element.id]">
        <i class="fas fa-cog"></i>
      </a>

    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> حذف </th>
    <td mat-cell *matCellDef="let element">
      <a>
        <i (click)="deleteAlert(element.id)" class="far fa-trash-alt"></i>
      </a> 
    </td>
  </ng-container>

  <tr class="thead-dark" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="item-wrapper" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator 

[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 30]" ShowFirstLastButtons></mat-paginator>
</section>