<!-- Start Our Services Page-->
<section class="our-services pb-50 ptx-170">
  <div class="container">
    <div class="title-section text-center mb-40">
      <h2>خدماتنا</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="services-content">
          <div class="services-content-img"><img src="assets/images/services-1.png" alt="Our services"/></div>
          <div class="services-title text-center ptb-20"><a href="services-details.html">
              <h4>أسم الخدمة</h4></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Our Services Page-->
