@import "variables";
@import 'mixin';
@import 'responsive';


/* Start Our Services Section */
.our-services {
  background-image: url('../../../../assets/images/services.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .title-section {
      h2 {
          color: $mainColor;
      }
  }
  .services-item {
      display: flex;
      justify-content: center;
      align-items: center;
      .services-img {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          img {
              max-width: 100%;
          }
      }
  }
  .services-content {
      width: 100%;
      text-align: center;
      img {
          max-width: 80%;
      }
      .services-title {
          a {
              color: $mainColor;
          }
      }
  }
}
/* End Our Services Section */
