<aside>
  <div class="menu--logo text-center">
    <img src="assets/images/logo.png" alt="logo">
  </div>
  <div class="menu-links text-center">
    <ul class="list-unstyled">
      <li><a routerLink="/dashboard" class="" > لوحة التحكم</a></li>
      <li><a routerLink="/dashboard/categories" class="" routerLinkActive="active"  >الأقسام</a></li>
      <li><a routerLink="/dashboard/products" class="" routerLinkActive="active"  >المنتجات</a></li>
      <li><a routerLink="/dashboard/management" class="" routerLinkActive="active"  >الإدارة</a></li>
      <li><a routerLink="/dashboard/chart" class="" routerLinkActive="active"  >مبيعات</a></li>
      <li><a routerLink="/dashboard/site-settings" class="" routerLinkActive="active"  >إعدادات الموقع</a></li>
      <li><a routerLink="/settings" class="" routerLinkActive="active"  >الإعدادات</a></li>
    </ul>
  </div>
</aside>
