<div class="product-form pt-120 pb-30">
  <div class="container">
    <div class="title-section pb-30">
      <h2 class="text-justify">اضافة منتج</h2>
    </div>
    <form action="">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="text-justify w-100">اسم المنتج</label>
            <input class="form-control" type="text" name="title" id="">
          </div>
        </div>

        <div class="col-md-2">
          <div class="custom-file mt-30">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile"></label>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <div class="d-flex justfy-content-start mt-30">
              <input class="btn-main" type="submit" value="اضافة">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="products-view pt-40">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="products__view--items">
              <div class="img-product">
                <img src="assets/images/about-img.jpeg" alt="">
              </div>
              <div class="product-title">
                <h4>اسم المنتج</h4>
              </div>
              <div class="product-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="products__view--items">
              <div class="img-product">
                <img src="assets/images/about-img.jpeg" alt="">
              </div>
              <div class="product-title">
                <h4>اسم المنتج</h4>
              </div>
              <div class="product-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="products__view--items">
              <div class="img-product">
                <img src="assets/images/about-img.jpeg" alt="">
              </div>
              <div class="product-title">
                <h4>اسم المنتج</h4>
              </div>
              <div class="product-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="products__view--items">
              <div class="img-product">
                <img src="assets/images/about-img.jpeg" alt="">
              </div>
              <div class="product-title">
                <h4>اسم المنتج</h4>
              </div>
              <div class="product-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
