mat-expansion-panel-header{
    font-size: 1.5rem;
    height: 60px !important;

    mat-panel-title{
        font-size: 1.6rem;
    }
}

.month{
    border: 1px solid gray;
    background-color: transparent;
    padding: 15px 0;
    font-size: 1.1rem;

    &:hover{
        cursor: pointer !important;
    }
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}