        <!-- Start Our products Section-->
        <section class="our-products section-wrapper">
          <div class="container">
              <h2 class="title-section text-center">منتجاتنا</h2>
            
            <div class="products">
              <div class="row">
                <!-- Start Products Item-->
                <div  *ngFor="let product of products$ |async" class="product-wrapper col-12 col-sm-6 col-md-3">
                  <div (click)="viewProduct(product.id)" class="products-item mb-30" [style.background]="'url(http://fonty.ieeeshasb.org/public/items/' + product.img +')'" >
                    <div class="item-overlay">
                      <a (click)="viewProduct(product.id)">{{product.name}}</a>
                    </div>
                    <!-- <img class="img-fluid" [src]="'http://fonty.ieeeshasb.org/public/items/' + product.img" alt=""/> -->
                  </div>
                </div>
                <!-- End Products Item-->
              </div>
            </div>
          </div>
        </section>
        <!-- End Our products Section-->
