<section class="view-user p-50 pt-120">
  <div class="title-section text-justify mb-30">
    <h2>تفاصيل المستخدم</h2>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="user-info text-justify">
        <h6>الاسم</h6>
        <div class="user-details">
          <p>ياسر عبد الله </p>
        </div>
      </div>
      <div class="user-info text-justify">
        <h6>البريد الالكترونى</h6>
        <div class="user-details">
          <p>example@gmail.com</p>
        </div>
      </div>
      <div class="user-info text-justify">
        <h6>رقم الجوال</h6>
        <div class="user-details">
          <p>0123456789</p>
        </div>
      </div>
      <div class="user-info text-justify">
        <h6>كلمة السر</h6>
        <div class="user-details">
          <p>0123sdfr7447sadf4c</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="orders">
        <p>عدد الطلبات</p>
        <span>55</span>
      </div>
      <div class="category">
        <p>الفئة</p>
        <span>مستخدم</span>
      </div>
    </div>
  </div>
</section>
