  <!-- Start Slider Section-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/slider-1.jpg" alt="First slide">
        <p> karim ali hassan saber</p>
        <span>koko moto hoto</span>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/slider-2.jpg" alt="Second slide">
        <p> karim ali hassan saber</p>
        <span>koko moto hoto</span>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/slider-3.jpg" alt="Third slide">
        <p> karim ali hassan saber</p>
        <span>koko moto hoto</span>
      </div>
    </div>
  </div>
  <!-- End Slider Section-->

  <app-about></app-about>
  <app-products></app-products>
  <app-branches></app-branches>
  <app-our-services></app-our-services>
  <app-contacts></app-contacts>
