<!-- Start Contact Us Section-->
<section class="">
  <div class="container">
    <h2 class="title-section text-center  mt-40 mb-40">تواصل معنا</h2>
    
    <div *ngIf="contacts" class="contact-info mb-30">
      <ul  class="list-unstyled ">
        <li class="contact-item d-flex mb-10">
          <div class="icon"><i class="ml-20 fas fa-map-marker-alt"></i></div>
          <p> {{contacts.address}}</p>
        </li>
        <li class="contact-item d-flex mb-10">
          <div class="icon"><i class="ml-20 fas fa-phone-alt"></i></div>
          <p>{{contacts.phone}}</p>
        </li>
        <li class="contact-item d-flex mb-10">
          <div class="icon"><i class="ml-20 far fa-envelope"></i></div>
          <p> {{contacts.email}}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Contact Us Section-->