<!-- Start Contact Us Section-->
<section class="contact-us pb-50 ptx-170">
  <div class="container">
    <div class="title-section text-center mb-40">
      <h2>تواصل معنا</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="contact-info mb-30">
          <ul class="list-unstyled ">
            <li class="d-flex">
              <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
              <p> <a href="#!">{{newContacts.address}}</a></p>
            </li>
            <li class="d-flex">
              <div class="icon"><i class="fas fa-phone-alt"></i></div>
              <p>{{newContacts.phone}}</p>
            </li>
            <li class="d-flex">
              <div class="icon"><i class="far fa-envelope"></i></div>
              <p> <a href="#!">{{newContacts.email}}</a></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="contact-info mb-30">
          <ul class="list-unstyled ">
            <li class="d-flex">
              <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
              <p> <a href="#!">Lorem ipsum dolor sit amet.</a></p>
            </li>
            <li class="d-flex">
              <div class="icon"><i class="fas fa-phone-alt"></i></div>
              <p>123456789</p>
            </li>
            <li class="d-flex">
              <div class="icon"><i class="far fa-envelope"></i></div>
              <p> <a href="#!">info@example.com</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Us Section-->
