@import "variables";
@import 'mixin';
@import 'responsive';


/* Start Contact Us Section */

  .contact-info {
      padding-top: 20px;
      .icon {
          width: 50px;
          height: 50px;
          line-height: 50px;
          background-color: $mainColor;
          border-radius: 50%;
          text-align: center;
          margin-left: 25px;
          margin-bottom: 20px;
        //   position: relative;

          i{
              display: inline-block;
              margin: auto;
              text-align: center;
              color: $secondColor;
            }
        }
      

    p {
        font-size: 2rem;
        font-weight: 500;
        color: $secondColor;
    }
  }

/* End Contact Us Section */
