<div class="item text-center">
    <p class="title"> {{type}}</p>
    <div class="row no-gutters icon-wrapper">
      <div class="icon col-md-1">
        <p class="number"> 1 </p>
      </div>
      <div class="icon col-md-4">
        <p>ياسر عبد الله </p>
      </div>

      <div class="icon col-md-4">
        <p>250 ريال </p>
      </div>

      <div class="icon col-md">
        <p> AM 12:10 </p>
      </div>
    </div>

    <div class="row no-gutters icon-wrapper">
      <div class="icon col-md-1">
        <p class="number"> 1 </p>
      </div>
      <div class="icon col-md-4">
        <p>ياسر عبد الله </p>
      </div>

      <div class="icon col-md-4">
        <p>250 ريال </p>
      </div>

      <div class="icon col-md">
        <p> AM 12:10 </p>
      </div>
    </div>
  </div>
