    <!-- Start Product Details -->
    <section class="product-details pb-50 h-800">
      <div class="product-img"></div>
      <div class="container">
        <div class="title-section text-center mb-40 pt-170">
          <h2>تفاصيل المنتج</h2>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered text-justify">
              <thead class="thead-dark">
                <tr>
                  <th>اسم الوجبة</th>
                  <th>سعر الوجبة</th>
                  <th>مدة تحضر الوجبة</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of details">
                  <th scope="row">{{detail.name}}</th>
                  <td>{{detail.price}}</td>
                  <td>{{detail.time}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- End Product Details -->
