<div class="add-cat">
  <span class="d-block text-center">+</span>
  <span class="d-block text-center">اضافة قسم</span>
</div>

<form #userForm ="ngForm" action="" class="form-group" >
  <label class ="d-block text-right" for="cat-name"> اسم القسم </label>
  <input type="text" class="form-control" id ="cat-name" name="catName"
  #catName = "ngModel" ngModel required>

  <div class="error-handler" *ngIf="catName.errors && catName.touched">
     <small class="text-danger text-right d-block" *ngIf="catName.errors?.required">   من فضلك أدخل اسم القسم </small>
     <!-- <small class="text-danger text-right d-block" *ngIf="catName.errors?.minlength">  من فضلك اسم القسم أكثر من ثلاثة أحرف  </small> -->
  </div>
</form>
