@import "variables";
@import 'mixin';
@import 'responsive';

.table-wraper{
  display: table;
  width: 100%;
  color: #fff;
  height: 48px;
  border-radius: 10px;
  padding: 18px 0;
  margin-bottom: 35px;

  .item{
    display: table-cell;
    width: 30px;
    line-height: 20px;
    height: 20px;
    font-family: CodecPro;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

  &:not(:last-child){
    border-left: 1px solid white;
  }
  }

}

.main-table{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.9);
  background-color: $secondColor;
}

.items-table{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fbfbfb;
  .item{
    color: $secondColor;

    &:not(:last-child){
      border-left: 1px solid $secondColor;
    }
  }
}


// new table
i:hover{
  cursor: pointer;
}

.search input{
  padding-left: 15px;
}

.table{
  background-color: #fff;
  line-height: 50px;
  

  th{
      font-size: 1.1rem;
      text-align: center !important;
  }


  td{
      padding-top: 8px;
      line-height: 40px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: .4);
      color: $secondColor;

  }
}