<a routerLink ="/dashboard/add-user" class="d-block text-center item-setting-global-small">  إضافة عضو </a>

<section class="members">
  <app-search></app-search>

    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>الاسم</th>
          <th>رقم الجوال</th>
          <th>البريد الالكترونى</th>
          <th>كلمة السر</th>
          <th>حذف</th>
          <th>تعديل</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{user.name}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
        <td>
            <a href="#!">
              <i class="far fa-trash-alt"></i>
            </a>
        </td>
       <td>
          <a href="">
            <i class="fas fa-cog"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
