<div *ngIf="(contacts$ | async) as Contacts" class="row">
  <div class="col-12 col-md-6 contact-form">
    <form #userForm="ngForm" (ngSubmit)="updateContacts(userForm.value)">
      <div class="form-group">
        <label class="text-justify w-100">تعديل العنوان</label>
        <textarea required minlength="6" [ngClass]="{ 'is-invalid': address.invalid, 'is-valid': !address.invalid, 'text-left': !arabic}"
          #address="ngModel" [(ngModel)]="Contacts.address" class="form-control" name="address" id="address">
         </textarea>
        <div *ngIf="!address.valid && address.touched" class="">
          <div class="alert alert-danger text-right" *ngIf="address.errors.required"> العنوان مطلوب </div>
          <div class="alert alert-danger text-right" *ngIf="address.errors.minlength"> من فضلك أدخل العنوان أكثر من ستة
            أحرف </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-justify w-100">تعديل رقم الهاتف</label>
        <input #phone="ngModel" required pattern="[0-9 ]{7,}"
          [ngClass]="{ 'is-invalid': phone.invalid, 'is-valid': !phone.invalid, 'text-left': !arabic}" [(ngModel)]="Contacts.phone"
          class="form-control" type="number" name="phone" id="phone">

        <div *ngIf="!phone.valid && phone.touched" class="">
          <div class="alert alert-danger text-right" *ngIf="phone.errors.required"> رقم الهاتف مطلوب </div>
          <div class="alert alert-danger text-right" *ngIf="phone.errors.pattern"> من فضلك أدخل الهاتف بطريقة صحيحة
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-justify w-100">تعديل البريد الالكترونى</label>
        <input [ngClass]="{ 'is-invalid': email.invalid, 'is-valid': !email.invalid, 'text-left': !arabic}" #email="ngModel" required email
          [(ngModel)]="Contacts.email" class="form-control" type="text" name="email" id="email">

        <div *ngIf="!email.valid && email.touched" class="">
          <div class="alert alert-danger text-right" *ngIf="email.errors.required">من فضلك أدخل الاسم </div>
          <div class="alert alert-danger text-right" *ngIf="email.errors.email">من فضلك أدخل الايميل بالطريفة الصحيحة
          </div>
        </div>
      </div>

      <div class="form-group">
        <input [disabled]="userForm.invalid" class="w-100 btn btn-primary" type="submit" value="تعديل العنوان">
      </div>
    </form>
  </div>

  <div class="col-12 col-md-6">
    <div class="contact-info">
      <ul class="list-wrapper text-right" [ngClass]="{'english': !arabic}">
        <li class="row">
          <div class="col icon"><i class="fas fa-map-marker-alt"></i></div>
          <p class="col"> {{Contacts.address}} </p>
        </li>

        <li class="row">
          <div class="col icon"><i class="fas fa-phone-alt"></i></div>
          <p class="col">{{Contacts.phone}}</p>
        </li>

        <li class="row">
          <div class="col icon"><i class="far fa-envelope"></i></div>
          <p class="col"> {{Contacts.email}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- start language -->
<div class="form-group">
  <h2 class="lang text-justify w-100">اختر اللغة</h2>
  <div class="btn-group float-right btn-group-toggle mb-10" data-toggle="buttons">

    <label class="btn btn-secondary active text-right">
      <input (click)="arabic=true;" type="radio" name="options" id="option1" checked> عربي
    </label>
    <label class="btn btn-secondary">
      <input (click)="arabic=false;" type="radio" name="options" id="option2"> إنجليزي
    </label>
  </div>
</div>
<div class="clearfix"></div>
<!-- end language -->
<div class="w-100 mb-20"></div>

<button class="btn btn-danger float-right mt-20 " routerLink="/dashboard/site-settings"> الرجوع مع الحفظ</button>
<div class="clearfix"></div>