<div *ngIf="contacts$ | async as Contacts" class="row">
  <div class="col-12 col-md-6 contact-form">
    <form #userForm="ngForm" (ngSubmit)="updateContacts(userForm.value)">
      <div class="form-group">
        <label class="text-justify w-100">تعديل العنوان</label>
        <textarea [disabled]="!canEdit" required minlength="6" 
        [ngClass]="{ 'is-invalid': address.invalid, 'is-valid': !address.invalid,'english-dir': lang === '2', 'text-left': lang==='2'}"
          #address="ngModel" [(ngModel)]="Contacts.address" class="form-control" name="address" id="address">
         </textarea>
        <div *ngIf="!address.valid && address.touched" class="">
          <div class="alert alert-danger text-right" *ngIf="address.errors.required"> العنوان مطلوب </div>
          <div class="alert alert-danger text-right" *ngIf="address.errors.minlength"> من فضلك أدخل العنوان أكثر من ستة
            أحرف </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-justify w-100">تعديل بيانات الاتصال</label>
        <textarea rows="4" [disabled]="!canEdit" #phone="ngModel" required minlength="10"
          [ngClass]="{ 'is-invalid': phone.invalid, 'is-valid': !phone.invalid,'english-dir': lang === '2', 'text-left': lang ==='2'}" 
          [(ngModel)]="Contacts.phone"
          class="form-control" name="phone" id="phone"> </textarea>

        <div *ngIf="!phone.valid && phone.touched" class="">
          <div class="alert alert-danger text-right" *ngIf="phone.errors.required"> بيانات الاتصال مطلوبة مطلوب </div>
          <div class="alert alert-danger text-right" *ngIf="phone.errors.minlength"> أقل عدد مسموح به هو عشرة أحرف       </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-justify w-100">تعديل البريد الالكترونى</label>
        <input [disabled]="!canEdit" [ngClass]="{ 'english-dir': (lang === '2'), 'is-invalid': email.invalid, 'is-valid': !email.invalid, 'text-left': lang==='2'}" #email="ngModel" required email
          [(ngModel)]="Contacts.email" class="form-control" type="text" name="email" id="email">

        <div *ngIf="!email.valid && email.touched" class="">
          <div class="alert alert-danger text-right" *ngIf="email.errors.required">من فضلك أدخل الاسم </div>
          <div class="alert alert-danger text-right" *ngIf="email.errors.email">من فضلك أدخل الايميل بالطريفة الصحيحة
          </div>
        </div>
      </div>

      <div class="form-group">
        <input *ngIf="!canEdit" (click)="enableEdit()" class="w-100 btn btn-primary" type="button" value="السماح بالتعديل">

        <input *ngIf="canEdit" [disabled]="userForm.invalid" class="w-100 btn btn-primary" type="submit" value="حفظ التعديلات ">
      </div>
    </form>
  </div>

  <div class="col-12 col-md-6">
    <div class="contact-info">
      <ul class="list-wrapper text-right" [ngClass]="{'english': lang==='2'}">
        <li class="row">
          <div class="col icon"><i class="fas fa-map-marker-alt"></i></div>
          <p class="col"> {{Contacts.address}} </p>
        </li>

        <li class="row">
          <div class="col icon"><i class="fas fa-phone-alt"></i></div>
          <p class="col">{{Contacts.phone}}</p>
        </li>

        <li class="row">
          <div class="col icon"><i class="far fa-envelope"></i></div>
          <p class="col"> {{Contacts.email}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="w-100 mb-20"></div>

<div class="text-right">
  <button class="btn btn-danger float-right mt-20 " routerLink="/dashboard/site-settings"> الرجوع مع الحفظ</button>
</div>