<section class="members">
  <app-search></app-search>

    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>الاسم</th>
          <th>رقم الجوال</th>
          <th>البريد الالكترونى</th>
          <th>عدد الطلبات</th>
          <th>عدد النقاط </th>
          <th>تعديل</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>حسن فاروق</td>
          <td>0123456789</td>
          <td>example@gmail.com</td>
          <td>20</td>
          <td> 100 </td>
       <td>
          <a href="">
            <i class="fas fa-cog"></i>
          </a>
        </td>
        <td> 
          <a routerLink="">
            <i class="far fa-times-circle"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td>حسن فاروق</td>
        <td>0123456789</td>
        <td>example@gmail.com</td>
        <td>20</td>
        <td> 100 </td>
     <td>
        <a href="">
          <i class="fas fa-cog"></i>
        </a>
      </td>
      <td> 
        <a routerLink="">
          <i class="far fa-times-circle"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>حسن فاروق</td>
      <td>0123456789</td>
      <td>example@gmail.com</td>
      <td>20</td>
      <td> 100 </td>
   <td>
      <a href="">
        <i class="fas fa-cog"></i>
      </a>
    </td>
    <td> 
      <a routerLink="">
        <i class="far fa-times-circle"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>حسن فاروق</td>
    <td>0123456789</td>
    <td>example@gmail.com</td>
    <td>20</td>
    <td> 100 </td>
 <td>
    <a href="">
      <i class="fas fa-cog"></i>
    </a>
  </td>
  <td> 
    <a routerLink="">
      <i class="far fa-times-circle"></i>
    </a>
  </td>
</tr>
    </tbody>
  </table>
</section>
