@import "variables";

.slider{
    margin-bottom: 20px;
    overflow: hidden;    
.img{
    margin: auto;
    margin-bottom: 10px;
    
    .img-wrapper{
        width: 100%;
        height: 400px;
    }
}

}

.custom-file{
    width: 150px;
    margin-top: 15px;
}

.custom-file-label::after {
    content: "اضافة صورة" !important;
    color: $mainColor;
    background-color: white;
}

.uploaded-img{
    width: 400px;
    height: 400px;

    img{
        margin: auto;
        margin-bottom: 10px;
        width: 400px;
        height: 400px;            
    }
}
.btn{
    border:1px solid rgba($color: #000000, $alpha: .5)
}
  
hr{
    margin-top: 35px;
    width: 80%;
    opacity: .8;
}
.upload-img{
    margin-bottom: 15px;

    p { 
        margin-top: 30px;
        opacity: .8;
        color: #111; 
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 40px; 
        font-weight: bold; 
        letter-spacing: -1px; 
    }
}