<h2 class="title-section text-center mb-50"> تعديل صور السلايدر الخاصة بالأبلكيشن</h2>

<div class="clearfix">
    <div class="row">
        <div *ngFor="let slider of sliders" class="col-md-6">
            <div class="img">
                <img class="img-fluid img-wrapper" [src]="''" alt="mobile-slider">
            </div>
            <button (click)="deleteSlider(slider.id)" class="btn btn-danger float-right">حذف</button>
        </div>
    </div>
</div>
<hr>

<!-- app new slider image -->
<div class="upload-img">
    <p class="text-right">اضافة صورة سلايدر جديدة</p>
    <div class="uploaded-img clearfix">
        <img class="img-fluid float-right " [src]="imgUrl" alt="">
    </div>
    <form #userForm="ngForm" id="userForm"
         class="custom-file d-flex justify-content-start">
        <input required ngModel name ="image" (change) = "imageUpload($event)"
         type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile"></label>
    </form>
</div>    

<div class="submit float-right">
    <input (click)="addSlider(); userForm.reset();" [disabled]="userForm.invalid" type="submit" class="btn btn-primary ml-10" value="رفع الصورة" >
    <input type="submit" class="btn btn-danger" value="تراجع" >
</div>
   
