
<div class="main-table table-wraper">
  <div class="item text-center number">
    رقم
  </div>

  <div class="item text-center name">
    الاسم
  </div>

  <div class="item text-center meals">
    الوجبات
  </div>

  <div class="item text-center price">
    السعر
  </div>

  <div class="item text-center stage">
    المرحلة
  </div>

  <div class="item text-center history">
    التاريخ
  </div>
</div>

<div class="items-table table-wraper">

  <div class="item text-center number">
    رقم
  </div>

  <div class="item text-center name">
    الاسم
  </div>

  <div class="item text-center meals">
    الوجبات
  </div>

  <div class="item text-center price">
    السعر
  </div>

  <div class="item text-center stage">
    المرحلة
  </div>

  <div class="item text-center history">
    التاريخ
  </div>
</div>
