<h2 class="text-right title">اللغة العربية</h2>
<div class="setting-wrapper no-gutters row">
  <a routerLink="edit-slider/1" class="col item-setting-global d-block text-center">السلايدر</a>
  <a routerLink="edit-about/1" class="col item-setting-global d-block text-center">من نحن</a>
  <a routerLink="edit-branches/1" class="col item-setting-global d-block text-center">فروعنا</a>
  <a routerLink="edit-services/1" class="col item-setting-global d-block text-center">خدماتنا</a>
  <a routerLink="edit-contacts/1" class="col item-setting-global d-block text-center">تواصل معنا</a>
</div>

<h2 class="text-right title">اللغة الانجليزية</h2>
<div class="setting-wrapper no-gutters row">
  <a routerLink="edit-slider/2" class="col item-setting-global d-block text-center">Slider</a>
  <a routerLink="edit-about/2" class="col item-setting-global d-block text-center">About Us</a>
  <a routerLink="edit-branches/2" class="col item-setting-global d-block text-center">Branches</a>
  <a routerLink="edit-services/2" class="col item-setting-global d-block text-center">Services</a>
  <a routerLink="edit-contacts/2" class="col item-setting-global d-block text-center">Contact Us</a>
</div>
