<div class="feedback-wrapper">
    <div class="search">
        <form action="">
          <input 
          #search
          (keyup) = "filter(search.value)"
          type="search" name="" id="" placeholder="بحث">
          <button class="btn-search">  بحث </button>
        </form>
      </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card text-right">
                <div class="card-body">
                  <h5 class="card-title">كريم</h5>
                  <span class="card-title">kairm@gmail.com</span>
                  <p class="card-text">أيلام </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>