
<form action="" class="about-form ">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="title-dashboard-section text-justify w-100">تعديل الفقرة</label>
        <textarea ngModel class="form-control" name="brief" id="" cols="30" rows="10"></textarea>
      </div>    
    </div>

    <div class="col-md-6">
      <p>

      </p>
    </div>
  </div>
 
<!-- image preview -->
<!-- <div class="upload-img">
  <p class="text-right">اضافة صورة سلايدر جديدة</p>
  <div class="uploaded-img clearfix">
      <img class="img-fluid float-right " [src]="imgUrl" alt="">
  </div>
  <form #userForm="ngForm" id="userForm"
       class="custom-file d-flex justify-content-start">
      <input required ngModel name ="image" (change) = "imageUpload($event)"
       type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile"></label>
  </form>
</div>    

<div class="submit float-right">
  <input (click)="addSlider(); userForm.reset();" [disabled]="userForm.invalid" type="submit" class="btn btn-primary ml-10" value="حفظ التعديلات" >
  <input type="submit" class="btn btn-danger" value="تراجع" >
</div> -->
  

</form>