<form #userForm="ngForm" id="userForm" *ngIf="about" (ngSubmit) ="editAbout(userForm.value)" action="" class="about-form ">
  <div class="row">
    <div class="col-md-7">
      <label class="title-dashboard-section d-block text-justify w-100">تعديل الفقرة</label>

      <div class="form-group">
        <textarea [ngClass]="{'text-left': lang === '2', 'english-dir': lang ==='2'}" [(ngModel)]="about.body" 
        class="form-control" #brief="ngModel" name="brief" required minlength="50"
          id="">
        </textarea>
      </div>
      
      <div *ngIf="!brief.valid && brief.touched">
        <div class="alert alert-danger text-right" *ngIf="brief.errors.required"> من فضلك أدخل الفقرة </div>
        <div class="alert alert-danger text-right" *ngIf="brief.errors.minlength"> عدد الحروف يجب أن يكون أكثر من خمسين حرفًا </div>
      </div>
    </div>

    <div class="col-md-5">
      <label class="title-dashboard-section d-block text-justify w-100">تعديل الصورة</label>
      <div class="upload-img">
        <div class="uploaded-img">
          <img class="img-fluid float-right " [src]="imgUrl " alt="">
        </div>
        <div class="clearfix"></div>

        <div class="custom-file d-flex justify-content-start">
          <input ngModel name="image" (change)="imageUpload($event)" type="file" class="custom-file-input"
            id="customFile">
          <label class="custom-file-label" for="customFile"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="submit float-right">
    <input [disabled]="userForm.invalid" type="submit" class="btn btn-primary ml-10"
      value="حفظ التعديلات">
    <input routerLink ="../../" type="submit" class="btn btn-danger" value="تراجع">
  </div>
</form>
<div class="clearfix"></div>