@import "variables";
@import 'mixin';
@import 'responsive';

.edit-about {
  padding: 20px;
}
@import "variables";

textarea{
    min-height: 450px;
}

.custom-file{
    width: 150px;
    margin-top: 15px;
}

.custom-file-label::after {
    content: "تعديل الصورة" !important;
    color: $mainColor;
    background-color: white;
}

img{
    margin: auto;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
}

.btn{
    border:1px solid rgba($color: #000000, $alpha: .5)
}
  
hr{
    margin-top: 35px;
    width: 80%;
    opacity: .8;
}

.upload-img{
    margin-bottom: 15px;
    overflow: hidden;
    
    img{
        height: 400px;
    }

    p { 
        margin-top: 30px;
        opacity: .8;
        color: #111; 
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 40px; 
        font-weight: bold; 
        letter-spacing: -1px; 
    }
}

// .view-wrapper{
//     width: 100%;
//     border: 1px solid rgba($color: gray, $alpha: .5);
//     min-height: 251px;
//     box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: .5);
//     padding: 5px 20px;
//     margin-bottom: 10px;
//     overflow: hidden;
//     overflow-y: auto;
//     p{
        
//         color: $mainColor;
//         font-weight: bold;
//         font-size: 1.4rem;
//     }
// }