<div class="container pt-170">
    <div *ngIf="lang==='1'" class="arab">
        <h3 class="title-dashboard-section text-center">تواصل معنا</h3>
        <p class="text-center">رأيك يهنا لتحسين خدماتنا</p>
    </div>

    <div *ngIf="lang==='2'" class="english">
        <h3 class="title-dashboard-section text-center">Contact Us</h3>
        <p class="text-center">Stay Connected with Us</p>
    </div>
    <hr class="full">

    <form class="text-center" #userForm="ngForm" (ngSubmit)="addUser(userForm.value); userForm.reset();">
        <div class="form">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user fa-fw"></i>
                </span>
                <input ngModel #name="ngModel" required minlength="2" name="name"
                    [ngClass]="{ 'is-invalid': name.invalid && name.touched , 'is-valid': !name.invalid && name.touched}"
                    class="form-control" type="text" [placeholder]="items[0]">
            </div>

            <div *ngIf="!name.valid && name.touched">
                <div class="arabic" *ngIf="lang==='1'">
                    <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}"
                        *ngIf="name.errors.required">من فضلك
                        أدخل الاسم </div>
                    <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}"
                        *ngIf="name.errors.minlength">أقل عدد
                        مسموح من الحروف هو
                        حرفين </div>

                </div>
                <div class="english" *ngIf="lang==='2'">
                    <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="name.errors.required">
                        please enter your name </div>
                    <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="name.errors.minlength">
                        Your name must be two characters at least </div>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="far fa-envelope fa-fw"></i>

                </span>
                <input ngModel required email #email="ngModel" name="email"
                    [ngClass]="{ 'is-invalid': email.invalid && email.touched , 'is-valid': !email.invalid && email.touched}"
                    class="form-control" type="text" [placeholder]="items[1]">
            </div>

            <div *ngIf="!email.valid && email.touched" class="">
                <div class="arabic" *ngIf="lang==='1'">
                    <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}"
                        *ngIf="email.errors.required">من فضلك
                        أدخل البريد الالكتروني </div>
                    <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}" *ngIf="email.errors.email">
                        من فضلك
                        أدخل الايميل بالطريفة
                        الصحيحة</div>
                </div>
                <div class="english" *ngIf="lang ==='2'">
                    <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="email.errors.required">
                        Please enter your email </div>
                    <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="email.errors.email">
                        Invalid email</div>

                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-tags fa-fw"></i>
                </span>
                <input ngModel required="ngModel" pattern="[0-9 ]{7,}" #phone="ngModel" name="phone"
                    [ngClass]="{ 'is-invalid': phone.invalid && phone.touched, 'is-valid': !phone.invalid && phone.touched}"
                    class="number form-control" type="number" [placeholder]="items[2]">

            </div>

            <div *ngIf="!phone.valid && phone.touched" class="">
                <div class="arabic" *ngIf="lang==='1'">
                    <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}"
                        *ngIf="phone.errors.required"> من
                        فضلك أدخل رقم الهاتف
                    </div>
                    <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}"
                        *ngIf="phone.errors.pattern"> من فضلك
                        أدخل الهاتف بطريقة
                        صحيحة </div>
                </div>

                <div class="english" *ngIf="lang==='2'">
                    <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="phone.errors.required">
                        Please enter your phone </div>
                    <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="phone.errors.pattern">
                        Invalid phone number </div>
                </div>
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <i class="far fa-comments"></i>
            </span>

            <textarea name="message" required minlength="5" #message="ngModel" ngModel
                [ngClass]="{ 'is-invalid': message.invalid && message.touched, 'is-valid': !message.invalid && message.touched}"
                class="form-control" rows="6" type="text" [placeholder]="items[3]">
            </textarea>
        </div>

        <div *ngIf="!message.valid && message.touched" class="">
            <div class="arabic" *ngIf="lang==='1'">
                <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}" *ngIf="message.errors.required">
                    من فضلك
                    أدخل رسالتك </div>
                <div class="alert alert-danger" [ngClass]="{'text-right': lang ==='1'}"
                    *ngIf="message.errors.minlength"> أقل عدد
                    من الحروف هو خمسة
                    احرف
                </div>
            </div>

            <div class="english" *ngIf="lang==='2'">
                <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="message.errors.required">
                    Please enter your message </div>
                <div class="alert alert-danger" [ngClass]="{'text-left': lang==='2'}" *ngIf="message.errors.minlength">
                    Your message must be 5 charachters at
                    least </div>
            </div>
        </div>

        <input *ngIf="lang ==='1'" [disabled]="userForm.invalid" class="btn btn-primary send mb" type="submit"
            value="ارسال ">
        <input *ngIf="lang==='2'" [disabled]="userForm.invalid" class="btn btn-primary send mb" type="submit"
            value="send">
    </form>

    <ul class="text-center socials-icons">
        <li>
            <a href="#" class="facebook">
                <i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="#" class="twitter">
                <i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#" class="google-plus">
                <i class="fab fa-google-plus"></i>
            </a>
        </li>
        <li>
            <a href="https://instagram.com/fonte4me?igshid=nfjaq41bsapm" class="instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#" class="pinterest">
                <i class="fab fa-pinterest"></i>
            </a>
        </li>
        <li>
            <a href="#" class="skype">
                <i class="fab fa-skype"></i>
            </a>
        </li>
    </ul>
</div>