<section class="view-product p-50 pt-120">
  <div class="title-section text-justify">
    <h2>عرض المنتج</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="product-img">
        <img src="assets/images/25.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-description text-justify">
        <p><strong>اسم المنتج :  برجر بيض</strong></p>
        <p><strong>المكونات :</strong> Lorem ipsum dolor sit amet.</p>
        <p><strong>السعر :</strong> 50 ريال</p>
        <p><strong>الفئة :</strong> ساندوتش</p>
      </div>
    </div>
  </div>
</section>
