<section class="view-users">
    <div class="search">
      <form action="">
        <input type="search" name="" id="" placeholder="بحث">
        <button class="btn-search">  بحث </button>
      </form>
    </div>
  
  <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>الاسم</th>
          <th>عدد النقاط</th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>كريم</td>
          <td>20</td>
          <td>
            <a >
              <i class="far fa-times-circle"></i>
            </a>
          </td>
          
        </tr>

        <tr>
          <td>كريم</td>
          <td>20</td>
          <td>
            <a >
              <i class="far fa-times-circle"></i>
            </a>
          </td>
          
        </tr><tr>
          <td>كريم</td>
          <td>20</td>
          <td>
            <a >
              <i class="far fa-times-circle"></i>
            </a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </section>

