<div class="edit-about">
  <div class="about-view pt-100">
    <div class="title-section text-right mb-40">
      <h2>معاينة المحتوى</h2>
    </div>
    <div class="title-section text-center mb-40">
      <h2>{{aboutContent.title}}</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="about-content text-justify">
          <p>{{aboutContent.text}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="aout-img">
          <img class="img-fluid" [src]="aboutContent.imgUrl" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="title-section text-justify pt-120 pb-30">
    <h3>تعديل المحتوى</h3>
  </div>
  <div class="about-form">
    <form action="">
      <div class="form-group">
        <label class="text-justify w-100">اضافة عنوان</label>
        <input [(ngModel)]="aboutContent.title" class="form-control" type="text" name="title" id="">
      </div>
      <div class="form-group">
        <label class="text-justify w-100">اضافة نبذة</label>
        <textarea [(ngModel)]="aboutContent.text" class="form-control" name="brief" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="custom-file d-flex justify-content-start">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile"></label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-start">
            <input class="btn-main" type="submit" value="اضافة">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
