<div class="feedback-wrapper">
    <div class="search">
      <form action="">
        <input 
          #search
          (keyup) = "customFilter(search.value)"
          type="search" name="" id="" placeholder="بحث باسم العميل">
        <button class="btn-search">  بحث </button>
      </form>
    </div>
    
    <div class="row">
        <div *ngFor="let order of filteredOrders" class="col-md-6 text-right">
          <div class="card">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
               <div class="card-header">
                  <h5 class="card-title">{{order.order_user.name}}</h5>
                  
                  <div class="row">
                    <span class="col-md-7 card-email">{{order.order_user.email}}</span>
                    <span class="col-md  card-phone">{{order.order_user.phone}}</span>
                  </div>
               </div>
              </mat-expansion-panel-header>

              <div class="card-body">
                  <div *ngFor="let orderItem of order.order_items" class="orders">
                      <div class="row">
                        <div class="col-7">
                         <h5 class="text-right card-title">
                           <img  src="assets/images/25.jpg" alt="" class="product-img rounded-circle">
                          {{orderItem.item_data.name}}
                         </h5>

                          <!-- <p class="text-small-title">المكونات <span>+ لحمة + خبز + ملوخية</span></p> -->
                        </div>

                        <div class="col">
                          <p class="text-small-title"> السعر: {{orderItem.item_data.price}} <span> ريال</span></p>
                          <p class="text-small-title">العدد:  <span>{{orderItem.count}}</span></p>      
                        </div>
                      </div>
                    <hr>
                  </div>

                  <!-- <hr class="big-seperator"> -->
                  <p class="text-small-title"> السعر الكلي: <span>{{order.total_price}}</span></p>
                  <button (click) ="orderAction(order.id, 1)" class="btn btn-primary ml-10">قبول</button>
                  <button (click)="orderAction(order.id, 0)" class="btn btn-danger">رفض</button>
              </div>
          
            </mat-expansion-panel>
          </mat-accordion>
        </div>
    </div>
</div>
</div>