<div *ngFor="let slider of  sliders" class="card">
  <img [src]="'http://fonty.ieeeshasb.org/public/wslider/' + slider.img" class="card-img-top img-fluid" alt="slider-1">
  <div class="card-body">
    <h5 class="card-title text-center"> {{slider.title}} </h5>

    <div class="submit text-right mt-10">
      <input type="submit" (click)="enableEdit(slider.id)" class="btn btn-primary ml-10" value="تعديل">
      <input (click)="deleteAlert(slider.id)" type="submit" class="btn btn-danger" value="حذف">
    </div>
  </div>
</div>

<a routerLink="add-slider" class="d-block text-center item-setting-global-small" >إضافة سلايدر جديد</a>

<a class="float-right btn btn-danger" routerLink="../"> الرجوع مع الحفظ
</a>
<div class="clearfix"></div>
