@import "variables";

.card{
    margin: 0 10px;
    margin-bottom: 25px;
    padding: 0;

    .card-title{
        opacity: .8;
        color: #111;
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 40px; 
        font-weight: bold; 
        letter-spacing: -1px;
    }

    .card-text{
        color: #111;
        opacity: .8;
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 20px;
    }

    .submit{
        margin-right: 10px;
        margin-bottom: 20px;
    }
}
