<!-- <div class="row">
    <div class="col">
        <div class="slider-img row">
            <div class="img-wrapper col-md-10" style="background-image: url('assets/images/slider-1.jpg');"> </div>
        </div>
        <div class="slider-details row">
            <h5 class="col text-center">اسم السلايدر</h5>
            <p class="col text-center">محتوى الاعلان</p>
        </div>
    </div>
    <div class="col"></div>
</div> -->

<h2 class="title-section text-center mb-50">تعديل صور السلايدر</h2>

<div class="clearfix">
    <div class="row">
        <div class="col">
            <div class="img">
                <img class="img-fluid img-wrapper" src="assets/images/slider-1.jpg" alt="">
            </div>
            <button class="btn btn-danger float-right">حذف</button>
        </div>
        <div class="col">
            <div class="img">
                <img class="img-fluid img-wrapper" src="assets/images/slider-1.jpg" alt="">
            </div>
            <button class="btn btn-danger float-right">حذف</button>
        </div>
    </div>
        
</div>

<div class="custom-file d-flex justify-content-start">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile"></label>
  </div>

<div class="img">
    <img class="img-wrapper" src="" alt="">
</div>

<div class="img">
    <img class="img-wrapper" src="" alt="">
</div> 