<div class="branches-form">
  <div class="container">
    <div class="title-section pb-30">
      <h2 class="text-justify">اضافة فرع</h2>
    </div>

    
    <form action="">
          <label class="text-justify w-100">اسم الفرع</label>
          <div class="form-group">
            <input class="form-control" type="text" name="title" id="">
          </div>
          
            <div class="form-group d-flex justfy-content-start">
              <input class="btn-main mt-30" type="submit" value="اضافة">
            </div>
    </form>
    
    <div class="branches-view pt-40 row">
          <div class="col-sm-4">
            <div class="branches__view--items">
              <div class="branches-title">
                <h4>اسم الفرع</h4>
              </div>
              <div class="branches-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="branches__view--items">
              <div class="branches-title">
                <h4>اسم الفرع</h4>
              </div>
              <div class="branches-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="branches__view--items">
              <div class="branches-title">
                <h4>اسم الفرع</h4>
              </div>
              <div class="branches-control">
                <button class="btn btn-primary">تعديل</button>
                <button class="btn btn-danger">حذف</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>